.user-post-details-container{
    display:flex;
    flex-direction: row;
    width: 1200px;
    height: 875px;
    border-radius: 5px;
    border-collapse: separate;
    flex-shrink: 1;
    background-color: white;
    animation-duration: .5s;
    animation-name: commentCardAppear;
}

@keyframes commentCardAppear {
    from{
        opacity:0
    }
    to{
        opacity: 1;
    }
}
.comment-card-nonimage-content{
    width: 100%;

}
.user-comment-card-images{
    display:inline-flex;
    flex-direction: column;
    width: 700px;
    height: 875px;
}
.user-comment-card-images img {
    width: 700px;
    height: 875px;
    object-fit:contain;
}

.user-comment-card-icon-tray i{
    padding:0px;
    margin-top: 10px;
}
.user-comment-card-icon-tray .comment-icon{
    margin-left:10px;
}
.user-comment-card-likes-tray{
    margin-left:15px;
    margin-top: 10px;
}
.user-comment-card-caption-area{
    padding:0px;
    margin-left:15px;

}
.user-comments-container .comments{
    margin-left:15px;
    margin-top: 20px;
    margin-bottom:20px;
}
.user-comments-container{
    /* border:2px solid blue; */
    height: 570px;
    border-bottom:rgb(239,239,239) 1px solid;
    margin-top:20px;
}
.user-home-card-icon-tray-top-left{
    margin-left: 15px;
}
#user-caption-container{
    margin-top: 10px;
    font-family: arial;
}
.user-alter-post-buttons{
    margin-top: 10px;
    font-size: 24px;
}
.user-alter-post-buttons i{
    cursor: pointer;
}
.delete-icon{
    margin-left: 10px;
}
#user-date-time{
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;

}
.user-post-comment-div{
    display: flex;
    flex-direction: row;

    height: 66px;
    justify-content: center;
    align-items: center;
}
.user-post-comment-div textarea{
    resize:none;
    padding-top: 20px;
    width: 430px;
    max-height: 52px;
    outline:none;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.user-post-comment-div button{
    height: 30px;
    cursor: pointer;
    color: rgba(0,149,246);
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
}
.user-post-comment-div button:disabled{
    cursor: default;
    color: rgba(0,149,246, .5);
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
}
.user-right-arrow{
    position: absolute;
    right: 510px;
    top: 48%;
    font-size: 22px;
    color: #b3b3b3;
    cursor:pointer;
    border-radius: 20px;
    opacity: .7;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,.4)
}
.user-left-arrow{
    position: absolute;
    left:10px;
    top: 48%;
    font-size: 22px;
    color: #b3b3b3;
    cursor:pointer;
    border-radius: 20px;
    opacity: .7;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,.4)
}
