#displayed-photo {
    width: 700px;
    height: 650px;
}

.add-more-photos-button {
    width: auto;
    max-width: 660px;
    height: 140px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 70px;
    right: 0px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    animation-duration: .75s;
    animation-name: fadeUp;

}

@keyframes fadeUp {
    from {
        bottom: 30px;
        opacity: .5;

    }

    to {
        opacity: 1;
        bottom: 70px;

    }
}



#add-more-photos-button {
    position: absolute;
    left: 635px;
    bottom: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .7);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;

}

#add-more-photos-button i {
    color: white;
}

.adding-caption-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    border-collapse: separate;
    animation-duration: 1s;
    animation-name: expand;
    background-color: white;
    margin: 0px;
}
@keyframes expand {
    from{
        width: 700px
    }
    to{
        width: 1000px;
    }
}

.adding-caption-container img {
    width: 700px;
    height: 650px;
    object-fit: cover;
    border-bottom-left-radius: 30px;



}

.finished-photos-bottom-container {
    display: flex;
    flex-direction: row;
}

.photo-absent-modal {
    animation-duration: .15s;
    animation-name: appear;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border-radius: 30px;
    border-collapse: separate;
    background-color: white;
}

@keyframes appear {
    from {
        width: 850px;
        height: 850px;
        background-color: rgba(0, 0, 0, .7);
    }

    to {
        width: 700px;
        height: 700px;
        background-color: white;
    }
}

.one-photo-title {
    font-size: 18px;
}

.no-photos-title {
    width: auto;
    height: 50px;
    border-bottom: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-photos-nav {
    width: 700px;
    height: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-first-photo-div input[type=file] {
    display: none;
}

.add-first-photo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-instruct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

#add-photo-1-label {
    display: flex;
    color: white;

    border-radius: 6px;
    background-color: rgb(0, 149, 246);
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: 40%;

}


.photo-icon {
    font-size: 200px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2%;
}

#displayed-photo {
    object-fit: cover;
    animation-duration: .5s;
    animation-name: fadeIn;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 650px;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.photo-preview-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-right: 15px;
}

.photo-preview-container::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.photo-preview-container img {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    top: 10px;
    padding-left: 8px;
    cursor: grab;
    filter:brightness(30%)
}
.photo-preview-container img.focus{
    filter:brightness(100%)
}
.add-more-photos-button input[type=file] {
    display: none;
    margin: 10px;
}

#add-more-photos-label {
    display: flex;
    color: white;
    font-size: 40px;
    height: 40px;
    border-radius: 20px;

    cursor: pointer;
    position: relative;
    top: 40px;
    right: 8px;
    margin-left: 2px;
}

#delete-photo-button {
    font-size: 18px;
    background-color: transparent;
    border: none;
    height: 22px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    top: 15px;
    z-index: 1;
}

#delete-photo-button i {
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
}
#delete-photo-button i:hover{
    color: white;
}

#firstBackButton {
    margin-left: 20px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#firstNextButton {
    margin-right: 20px;
    font-size: 14px;
    color: rgb(0, 149, 246);
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#goForward {
    font-size: 20px;
    position: absolute;
    bottom: 330px;
    right: 10px;
    background-color: rgba(0, 0, 0, .7);
    ;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#goForward i {
    color: white;
}

#goBackward {
    font-size: 20px;
    position: absolute;
    bottom: 330px;
    left: 10px;
    background-color: rgba(0, 0, 0, .7);
    ;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#goBackward i {
    color: white;
}

.top-adding-caption-nav {
    width: 1000px;
    height: 50px;
    animation-duration: 1s;
    animation-name: expand;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photo-exists-modal {
    width: 700px;
    height: 700px;
    border-radius: 30px;
    border-collapse: separate;
    background-color: white;
}

#second-back-button {
    margin-left: 20px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#share-button {
    margin-right: 20px;
    font-size: 14px;
    color: rgb(0, 149, 246);
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.captions-adding-form {
    border-top: rgb(219, 219, 219) 1px solid;
    width: 300px;
    animation-duration: 1s;
    animation-name: expandCaption;
}
@keyframes expandCaption {
    from{
        width: 0px;
        opacity: 0;
    }
    90%{
        opacity: 1
    }
    to{
        width: 300px;
    }
}
.create-post-user {

    display: flex;
    flex-direction: row;
    align-items: center;
}
@keyframes expandUser {
    from{
        width:0px;
        opacity: 0;
    }
    66%{
        opacity:1;
    }
    to{

        width: 35px;
    }
}
@keyframes expandUserImg {
    from{

        opacity: 0;
    }

    to{
        opacity:1;
    }
}
.create-post-user-picture img {
    animation-duration: 1s;
    animation-name: expandUserImg;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-left: 15px;
    margin-top: 20px;
}

.create-post-username {
    animation-duration: 1.5s;
    animation-name: expandUser;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
}

.create-post-comment-input {
    margin-left: 15px;
    margin-top: 10px;
}

.create-post-comment-input textarea {
    animation-duration: 1s;
    animation-name: expandText;
    width: 260px;
    height: 200px;
    resize: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    overflow-y: auto;
    background-color:transparent
}
@keyframes expandText {
    from{
        width: 50px;
        opacity: 0;
    }
    to{
        opacity: 1;
        width: 260px;
    }
}
.character-count {

    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 14px;
}

.photo-posted-container {
    width: 700px;
    height: 650px;
    background-color: white;
}

.photo-posted-title {
    width: 700px;
    height: 50px;

    border-bottom: rgb(219, 219, 219) 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo-posted-check {

    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    width: 700px;
}

.gif img {
    height: 110px;
    width: 110px;
    margin-top: 200px;
}

.gif-text {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.dropzone.highlight {
    background-color: rgba(0, 0, 0, .3);
}

.dropzone {
    height: 700px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
