.create-post-form-container {
    width: 700px;
    height: 700px;
    border-radius: 50px;
    border-collapse: separate;
}

#displayed-photo {
    width: 700px;
    height: 650px;
}

.add-more-photos-button {
    width: auto;
    max-width: 680px;
    height: 140px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    bottom: 70px;
    right:0px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;

}



#add-more-photos-button {
    position: absolute;
    left: 635px;
    bottom: 20px;
    font-size: 20px;
    background-color: rgba(0,0,0,.7);
    border: none;
    width: 40px;
    height: 40px;
    border-radius:30px;
    cursor:pointer;
}
#add-more-photos-button i{
   color: white;
}

.adding-caption-container {
    display: flex;
    flex-direction: column;

}

.adding-caption-container img {
    width: 600px;
    height: 600px;

}

.finished-photos-bottom-container {
    display: flex;
    flex-direction: row;
}

.photo-absent-modal {
    display: flex;
    flex-direction: column;

}

.no-photos-title {
    width: 700px;
    height: 50px;
    border-bottom: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-photos-nav {
    width: 700px;
    height: 50px;
    border-bottom: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-first-photo-div input[type=file] {
    display: none;
    margin: 10px;
}

#add-photo-1-label{
    display: flex;
    color: white;
    border-radius: 6px;
    background-color: rgb(0,149,246);
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 270px;
    top: 450px;
}
.photo-icon{
    font-size: 200px;
    color:black;
    position: absolute;
    left: 235px;
    top: 150px;
}
#displayed-photo {
    object-fit: cover;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    height: 650px;
}

.photo-preview-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-right: 15px;
}
.photo-preview-container img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    top: 10px;
    padding-left: 8px;
    cursor: grab;
}
.add-more-photos-button input[type=file] {
    display: none;
    margin: 10px;
}
#add-more-photos-label{
    display: flex;
    color: white;
    font-size: 40px;
    height:40px;
    border-radius:20px;

    cursor: pointer;
    position: relative;
    top: 40px;
    right: 8px;
    margin-left:2px;
}
#delete-photo-button{
    font-size: 18px;

    background-color: transparent;
    border:none;
    height: 22px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 95px;
    top: 15px;
    z-index: 1;
}
#delete-photo-button i{
    color:rgba(0,0,0,.7);
    cursor: pointer;
}
