/* TODO Add site wide styles */
body {
    background-color: #fafafa;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


#errors {
    color:red;
    font-size: 12px;
    padding:5px;
}