/* TODO Add site wide styles */
body {
    background-color: #fafafa;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

i:hover {
    opacity: 0.5;
}