
.search input {
    /* position:relative; */
    width:270px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items:center;
    color: black;
    background-color: rgba(var(--bb2, 239, 239, 239), 1);
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    font-size: 18px;
}


#search-list {
	position: absolute;
    top: 63px;
    left: 275px;
	transform: translateY(-40px);
	width: 280px;
    padding-left:0px;
	border: solid 1px rgba(0,0,0, 0.2);
	background-color: white;
	z-index: -10;
	display: none;
	transition: all 0.2s ease;
	overflow-y: scroll;
    border-radius: 6px;
    
}


#search-list:focus {
	border: solid 1px rgba(0,0,0, 0.2); 
}

#search + #search-list {
    margin-top: 30px;
    width: 350px;
	height: 400px;
	display:flex;
    flex-direction: column;
}

#search-list a {
    font-size: 15px;
}

#search-list a:hover {
    opacity:.5;
}

#search-list::-webkit-scrollbar {
    display: none;
  }

#search-list img{
border-radius: 50%;
height: 30px;
width: 30px;
object-fit: cover;
/* margin-left: 10px; */
}

.user-link-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
}