.user-profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.user-profile-images {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
}