.following-modal-container {
    height: 400px;
    width: 400px;
    background-color: white;
    overflow-x: auto;
    border-radius: 12px;
}

.following-modal-card {
    display: flex;
    padding: 8px 16px 8px 16px;
    height: 46px;
    width: 400px;
}

.following-modal-image-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.following-modal-profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.following-modal-name-container {
    height: 30px;
    width: 254.6px;
}