.following-modal-container {
    height: 400px;
    width: 400px;
    background-color: white;
    overflow-x: auto;
    border-radius: 12px;
}

.following-modal-card {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    height: 46px;
    width: 370px;
}

.following-modal-image-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.following-modal-profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.following-modal-name-container {
    height: 30px;
    width: 254.6px;
}

.following-modal-full-name {
    font-size: 14px;
    font-weight: 400;
    color: #8e8e8e;
}

.following-modal-username {
    font-size: 14px;
    font-weight: 600;
}

.following-modal-username:hover {
    text-decoration: underline;
}

.following-modal-following-tag-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.following-modal-following-tag {
    height: 42px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.following-modal-close {
    height: 42px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
}

.following-modal-unfollow-button {
    height: 30px;
    width: 84.17px;
    /* padding: 5px 9px; */
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
