
.post-details-container {
    display:flex;
    flex-direction: row;
    max-width: 1000px;
    max-height: 630px;
    flex-shrink: 1;
}


.comment-card-images {
    display:inline-flex;
    flex-direction: column;
    width: 800px;
    height: 630px;
    align-items:center;
    justify-content: center;
}

.comment-card-images img {
    width: 600px;
    height: 630px;
    object-fit:contain;
    border-radius:50px;
}

.user{
    display:flex;
    gap:20px;
    align-items: center;
    font-weight: bold;
    padding: 14px 4px 14px 16px;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    flex-grow: 1;
    justify-content: center;
}



.user img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 10px;
}

.comments img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 10px;
}

.comment-card-caption-area {
    display:flex;
    align-items:flex-start;
    font-size: 14px;
    line-height: 18px;
    gap:5px;
    
}

.comment-card-caption-area img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 10px;
}

.caption-container {
    display:flex;
    flex-direction: row;
    
}

#date-time {
    cursor: default;
    font-size: 12px!important;
    font-weight: 400;
    line-height: 16px!important;
    padding: 10px 0;
}

.view-all-comments {
    font-size: 14px;
    line-height: 18px;
    overflow-y:scroll;
    height: 400px;
}

.view-all-comments::-webkit-scrollbar {
    background: transparent; 
    width: 0px;
  }

.make-comment textarea {
    flex-grow: 1;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 100%;
    overflow: auto;
    /* object-fit: contain; */
    /* height: fit-content; */
}

.comments-container {
    display:flex;
    flex-direction: column;
    gap: 20px;
    
}

.comments {
    display:flex;
    gap: 10px;
    list-style:none;
}


.comments-flex {
    display:flex;
    flex-direction: column;
}

.edit-comment-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.make-comment {
    margin: 20px;
    display: flex;
    flex-direction:row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.make-comment button {
    border: none;
    color: rgb(59, 174, 212, .7)
}


#comments-right-arrow {
    right: 330px;
}

