.home-card {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 775px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 3px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif
}

.home-card-header {
    display: flex;
    align-items: center;
    width: 620px;
    height: 50px;
    padding: 14px 4px 14px 16px;
    background-color: white;
    border-bottom: 1px solid rgb(239,239,239);
}

.home-card-profile-pic {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.home-card-username-top {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
}


.home-card-images {
    display: flex;
    position: relative;
}

.left-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 22px;
    color: #b3b3b3;
    cursor:pointer;
}

.right-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #b3b3b3;
    cursor:pointer;
}

.home-card-images img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.home-card-nonimage-content {
    background-color: white;
    height: 100%;
}

.home-card-icon-tray {
    display: flex;
    width: inherit;
    padding: 0px 16px;
    margin-top: 10px;
}

.home-card-icon-tray-top-left {
    justify-self: start;
}

.comment-icon {
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
}

.home-card-icon-tray-dots {
    margin-right: auto;
    margin-left: 30%;
    font-size: 5px;
    display: flex;
    gap: 5px;
    padding-top: 8px;
}

.active-dot {
    color: #4e95f6
}

.inactive-dot {
    color: #b3b3b3;
}

.home-card-likes-tray {
    color: black;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    padding: 5px 25px 0px 25px;
}

.home-card-caption-area {
    padding: 0px 15px;
    font-size: 14px;
}

.home-card-username-bottom {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
}

.home-card-username-bottom:hover {
    text-decoration: underline;
}

.home-card-view-comments {
    margin-top: 5px;
    margin-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    cursor: pointer;
}

.home-card-view-comments a {
    text-decoration: none;
    color: #a4a4a4;
    font-size: 14px;
    padding: 0px 25px;

}
.lastUpdated{
    margin-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.card-comment-input{
    border-top: rgb(239,239,239) solid 1px;
    display: flex;
    align-items: center;
    height: 53px;
    margin-top: 10px;
}
.card-comment-input textarea{
    margin-left: 23px;
    height: 20px;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 555px;
    resize: none;
    margin-top: 10px;

}
#post-comment-card-button{
    color: rgb(0,149,246);
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
    cursor: pointer;
}
#post-comment-card-button:disabled{
    cursor: default;
    color: rgba(0,149,246, .5);
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
}
