.profile-image-card-container {
    position: relative;
    height: 293px;
    width: 293px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.profile-image-card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
}

.profile-image-card-hover-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.446);
    z-index: 1;
}

.profile-image-like-stat {
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    z-index: 2;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.profile-image-comment-stat {
    position: absolute;
    top: 50%;
    right: 30%;
    color: white;
    z-index: 2;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.profile-image-username {
    position: absolute;
    width: 40%;
    top: 25%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    z-index: 2;
    font-size: 20px;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}
