nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 50px;
    margin-bottom: 15px;
}

.navbar-container {
    width: 640px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    height: 30px;
    width: auto;
}

.navbar-right-container {
    display: flex;
    align-items: center;
}

.navbar-icon-tray a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
.navbar-icon-tray{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115px;
    height: 30px;
}
.navbar-icon-tray #create-post-button{
    font-size: 25px;
    cursor: pointer;
}
.navbar-profile-photo {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 10px;
}

.navbar-dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}
#modal-content .close-modal-confirm {
    border-radius: 15px;
    background-color: white;
    width: 400px;
    height: 187px;
    display: flex;
    flex-direction: column;
}
.close-confirm-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: rgb(219,219,219) 1px solid;
    padding-bottom: 15px;
}
.discardPostDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 15px;
    font-size:20px;
    font-weight: 600
}
.ifLeaveDiv{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 14px;
}

#create-post-button{
    border: none;
    background: none;
    padding:0px;
    position: relative;
    top: 1px;
}
.close-confirm-buttons{
    display: flex;
    flex-direction: column;
}
#discardButton{
    height: 50px;
    border:none;
    border-bottom:rgb(219,219,219) 1px solid;
    background-color: transparent;
    font-weight: 600;
    color: red;
    font-size: 14px;
    cursor:pointer;
}
#cancelDiscardButton{
    height:50px;
    border:none;
    background-color: transparent;
    cursor:pointer;
    font-size:14px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
