.profile-details-container {
    width: 940px;
    min-height: 300px;
    display: flex;
    border-bottom: 1px solid #a4a4a4ba;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.profile-details-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile-details-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details-text-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.profile-details-top-container {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.profile-details-username {
    font-size: 28px;
    font-weight: 300;
}

.profile-details-follow-button {
    border-radius: 4px;
    background-color: #4e95f6;
    color: white;
    height: 30px;
    width: 25px;
}

.profile-details-user-stats {
    display: flex;
    gap: 60px;
}

.profile-user-stat {
    font-weight: 600;
    font-size: 16px;
    margin-right: 3px;
}