.profile-details-container {
    width: 940px;
    min-height: 300px;
    display: flex;
    border-bottom: 1px solid #a4a4a4ba;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.profile-details-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile-details-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details-text-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.profile-details-top-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: left;
}

.profile-details-username {
    font-size: 28px;
    font-weight: 300;
}

.profile-details-follow-icons-tray {
    height: 30px;
    width: 85px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.profile-details-follow-button {
    border-radius: 4px;
    background-color: #4e95f6;
    color: white;
    height: 30px;
    width: 63.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-style: bold;
}

.profile-details-unfollow-button {
    display: flex;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 30px;
    width: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.user-icon {
    font-size: 12px;
}

.check-icon {
    font-style: italic;
    font-size: 10px;
}

.profile-details-user-stats {
    display: flex;
    gap: 60px;
}

.profile-user-stat {
    font-weight: 600;
    font-size: 16px;
    margin-right: 3px;
}

.profile-user-unfollow-modal {
    border-radius: 15px;
    background-color: white;
    width: 400px;
    height: 293px;
    display: flex;
    flex-direction: column;
}

.profile-details-image-modal {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details-modal-image-container {
    display: flex;
    height: 90px;
    width: 368px;
    margin: 16px 16px 16px 16px;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 15px;
    font-size:20px;
    font-weight: 600
}

.profile-details-modal-username-container {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 14px;
    height: 11px;
    width: 336px;
    margin: 18px 32px;
}