
#edit-caption-container textarea{
  height: 100px;
  resize:none;
  width: 450px;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  outline:none;
}
.edit-caption-area{
  margin-left:15px;
  display: flex;
  flex-direction: column;
}
#edit-caption-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.edit-caption-submit-buttons{
  display:flex;
  flex-direction: column;
  border: 2px solid rgba(128,128,128,.5);
  height: 120px;
  width: 450px;
  border-radius: 20px;
}
.edit-caption-submit-buttons button{
  height: 60px;
  border: none;
  outline:none;
  background-color: transparent;
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
}
#edit-caption-submit-enabled {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px solid rgba(128,128,128,.5);
  color:rgb(0,149,246);
}

#edit-caption-submit-disabled {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px solid rgba(128, 128, 128, .5);
  color: rgba(0, 148, 246, 0.235);
}


#edit-caption-cancel{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
}
.edit-caption-area-title{
  font-size: 18px;
  margin-top: 20px;
  font-family:Arial, Helvetica, sans-serif;
}
.edit-caption-count{
  display: flex;
  justify-content: flex-end;
  width: 450px;
  font-size: 14px;
  margin-bottom: 30px;
}
